.content p,
.content h3,
.content div {
   margin: 0;
}

.description {
   user-select: none;
   cursor: pointer;
}

.content {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 2em;
}

.descriptionContainer {
   display: flex;
   align-items: center;
   border-radius: 5px;
}

.titleContent {
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
   overflow: hidden;
}

.examplesTypes {
   display: flex;
   flex-direction: column;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid var(--my-color-function-description);
   background-color: color-mix(in srgb, var(--my-color-function-description) 50%, transparent 100%);
}

.examplesTypes ol {
   list-style-position: inside;
   padding: 0;
}

.examplesTypes ol li::marker {
   /* color: var(--my-color-function-type); */
   font-weight: bold;
}

.returnsTypes {
   display: flex;
   flex-direction: column;
   gap: 0.5em;
}

.scrollable {
   overflow: auto;
   padding-bottom: 5px;
}

.scrollable::-webkit-scrollbar {
   height: 6px;
}

.scrollable::-webkit-scrollbar-track {
   border-radius: 3px;
}

.scrollable::-webkit-scrollbar-thumb {
   border-radius: 3px;
}

@media (pointer: fine) {
   .scrollable::-webkit-scrollbar-track {
      background: transparent;
   }

   .scrollable::-webkit-scrollbar-thumb {
      background-color: transparent;
   }

   .scrollable:hover::-webkit-scrollbar-track {
      background-color: var(--sl-color-gray-6);
   }

   .scrollable:hover::-webkit-scrollbar-thumb {
      background-color: var(--sl-color-gray-4);
   }
}

@media (pointer: coarse) {
   .scrollable::-webkit-scrollbar-track {
      background-color: var(--sl-color-gray-6);
   }

   .scrollable::-webkit-scrollbar-thumb {
      background-color: var(--sl-color-gray-4);
   }
}

.scrollable::-webkit-scrollbar-button {
   display: none;
}
