.param {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 0.5rem;
   margin-top: 0;
   width: auto !important;
   max-width: auto;
   min-width: auto !important;
   overflow: hidden;
}

@media (max-width: 800px) {
   .param {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
   }
}

.param p {
   margin: 0;
}

.param a {
   text-decoration: none;
}

.param a:hover {
   text-decoration: underline;
   text-decoration-color: var(--sl-color-function-type);
}

.type {
   font-weight: bold;
   color: var(--sl-color-function-type);
}

.text {
   overflow: hidden;
}

.comment {
   color: var(--sl-color-function-comment);
   overflow: hidden;
   /* text-wrap: nowrap; */
}

.value {
   color: var(--sl-color-function-value);
}

.required,
.optional {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 5px;
   border-radius: 5px;
   font-size: 12px;
   width: 80px;
   min-width: 80px;
   height: 22px;
   text-wrap: nowrap;
}

.required {
   color: var(--sl-color-function-required);
   background-color: color-mix(in srgb, var(--sl-color-function-required) 10%, transparent 100%);
   border: 1px solid var(--sl-color-function-required);
}

.optional {
   color: var(--sl-color-function-optional);
   background-color: color-mix(in srgb, var(--sl-color-function-optional) 10%, transparent 100%);
   border: 1px solid var(--sl-color-function-optional);
}
