.returnContainer {
   display: flex;
   flex-direction: column;
   gap: 0.5em;
}

.returnItem {
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   overflow: hidden;
   border: 1px solid var(--my-color-return-border);
}

.value {
   background-color: var(--my-color-return-content);
   padding: 10px;
   border-top: 1px solid var(--my-color-return-border);
}

.title {
   display: flex;
   gap: 0.5em;
   background-color: var(--my-color-return-header);
   padding: 2px 5px 2px 10px;
   width: 100%;
   text-align: center;
   font-weight: 600;
}

.returnContainer a {
   text-decoration: none;
}

.returnContainer a:hover {
   text-decoration: underline;
   text-decoration-color: var(--my-color-function-type);
}

.typeContainer {
   display: flex;
   margin-top: 0.5em;
   gap: 0.5em;
}

.type {
   font-weight: bold;
   color: var(--my-color-function-type);
}
