/* Dark mode colors. */
:root {
   --sl-color-accent-low: #ee6a6a;
   --sl-color-accent: #ee6a6a;
   /* Cor Principal */
   --sl-color-accent-high: #ee6a6a;
   --sl-color-white: #191919;
   --sl-color-gray-1: #2c2c2c;
   --sl-color-gray-2: #414141;
   --sl-color-gray-3: #616161;
   --sl-color-gray-4: #919191;
   --sl-color-gray-5: #c9c9c9;
   --sl-color-gray-6: #e4e3e3;
   --sl-color-gray-7: #f7f7f7;
   --sl-color-black: #ffffff;
   --sl-content-width: 55rem;

   --sl-color-hairline: var(--sl-color-gray-6);
   --sl-color-hairline-shade: var(--sl-color-gray-6);
   --sl-color-bg: var(--sl-color-black);
   --sl-color-bg-nav: #fcfcfc;
   --sl-color-bg-sidebar: var(--sl-color-bg-nav);

   /* My colors */
   --my-color-row-hover: #ececec;
   --my-color-function-description: #eeeeee;
   --my-color-function-type: #515bee;
   --my-color-function-comment: #69a170;
   --my-color-function-value: #51b4ee;
   --my-color-function-required: #ee5151;
   --my-color-function-optional: #51b4ee;
   --my-color-modal-header: var(--sl-color-bg-nav);
   --my-color-modal-header-shadow: var(--sl-color-gray-5);
   --my-color-modal-bg: #ffffff;
   --my-color-modal-border: #a7a7a7;
   --my-color-mermaid-bg: #e6e6e6;
   --my-color-preview-title: #333333;
   --my-color-img-frame-border: #c0c0c0;
   --my-color-scrollbar-bg: #f5f5f5;
   --my-color-scrollbar-thumb: #cacaca;
   --my-color-scrollbar-thumb-hover: #979797;
   --my-color-spoiler-bg: #f9f9f9;
   --my-color-spoiler-border: #e4e3e3;
   --my-color-spoiler-bg-header: var(--my-color-spoiler-bg);
   --my-color-param-value-bg: var(--my-color-spoiler-bg);
   --my-color-param-value-border: var(--my-color-spoiler-border);
   --my-color-tooltip-bg: #fbfbfc;
   --my-color-tooltip-border: #c9c9c9;
   --my-color-tooltip-text: #1b1b1b;
}

/* Light mode colors. */
:root[data-theme="dark"] {
   --sl-color-accent-low: #eb8484;
   --sl-color-accent: #eb8484;
   --sl-color-accent-high: #ee6a6a;
   --sl-color-white: #ffffff;
   --sl-color-gray-1: #f0f2f6;
   --sl-color-gray-2: #d1d8e2;
   --sl-color-gray-3: #a3adbd;
   --sl-color-gray-4: #6a7587;
   --sl-color-gray-5: #4d5665;
   --sl-color-gray-6: #303846;
   --sl-color-gray-7: #252d38;
   --sl-color-black: #1c212a;
   --sl-color-hairline: #323b47;
   --sl-color-hairline-shade: #323b47;
   --sl-color-bg: var(--sl-color-black);
   --sl-color-bg-nav: #232933;
   --sl-color-bg-sidebar: var(--sl-color-bg-nav);

   --my-color-function-description: #303846;
   --my-color-row-hover: #303846;
   --my-color-modal-header: var(--sl-color-bg-nav);
   --my-color-modal-header-shadow: var(--sl-color-gray-5);
   --my-color-modal-bg: #1c212a;
   --my-color-modal-border: var(--sl-color-gray-5);
   --my-color-mermaid-bg: #363f4e;
   --my-color-img-frame-border: #171b23;
   --my-color-preview-title: #d8dde6;
   --my-color-scrollbar-bg: #252b36;
   --my-color-scrollbar-thumb: #4d5665;
   --my-color-scrollbar-thumb-hover: #5a6373;
   --my-color-spoiler-bg: #1f242d;
   --my-color-spoiler-border: #303846;
   --my-color-spoiler-bg-header: var(--my-color-spoiler-bg);
   --my-color-param-value-bg: var(--my-color-spoiler-bg);
   --my-color-param-value-border: var(--my-color-spoiler-border);
   --my-color-tooltip-bg: #1c2129;
   --my-color-tooltip-border: #4d5665;
   --my-color-tooltip-text: #ffffff;

   /* code highlighting */
   --code-text-color: #f1f1f1ff;
   --code-bg-color: var(--sl-color-gray-7);
   --code-border-color: var(--sl-color-gray-6);
   --code-shadow: 0 1px rgba(255, 255, 255, 0.3);
   --code-comment-color: #8b949e;
   --code-punctuation-color: #c9d1d9;
   --code-property-color: #d2a8ff;
   --code-tag-color: #7ee787;
   --code-constant-color: #79c0ff;
   --code-symbol-color: #ff7b72;
   --code-deleted-color: #ffa198;
   --code-boolean-color: #ff7b72;
   --code-number-color: #79c0ff;
   --code-selector-color: #7ee787;
   --code-attr-name-color: #d2a8ff;
   --code-string-color: rgb(254, 255, 191);
   --code-char-color: #7ee787;
   --code-builtin-color: #d2a8ff;
   --code-inserted-color: #7ee787;
   --code-operator-color: #ff7b72;
   --code-entity-color: #c9d1d9;
   --code-url-color: #79c0ff;
   --code-css-string-color: #d9d7c9;
   --code-style-string-color: #c9d1d9;
   --code-variable-color: #ffa657;
   --code-atrule-color: #ff7b72;
   --code-attr-value-color: #a5d6ff;
   --code-function-color: #d2a8ff;
   --code-class-name-color: #d2a8ff;
   --code-keyword-color: #ff7b72;
   --code-regex-color: #ffa657;
   --code-important-color: #ffa657;
}

/* corrige o fundo azul em dispositivos móveis */
* {
   -webkit-tap-highlight-color: transparent;
}

/* Customização das tabelas */
th {
   padding: 8px;
}

td {
   padding: 8px;
}

td:first-child {
   border-left: none;
}

td,
td:last-child {
   border-left: 1px solid var(--sl-color-gray-5);
}

tr {
   overflow: visible;
}

td:last-child {
   width: 100%;
}

/* Customização da barra de rolagem */
::-webkit-scrollbar {
   width: 8px;
   height: 8px;
}

::-webkit-scrollbar-track {
   background: var(--my-color-scrollbar-bg);
}

::-webkit-scrollbar-thumb {
   background: var(--my-color-scrollbar-thumb);
   /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover {
   background: var(--my-color-scrollbar-thumb-hover);
}

/* 
 * STARLIGHT
*/
.pagination-links a {
   box-shadow: none;
}

.top-level a[aria-current="false"] {
   transition: color 0.15s ease-in-out;
}

.top-level a[aria-current="page"] {
   color: var(--sl-color-accent-high);
   background-color: transparent;
}

.top-level li:has(> a[aria-current="page"]) {
   border-inline-start: 1px solid var(--sl-color-accent-high);
}

@media (pointer: fine) {
   .top-level summary:hover * {
      color: var(--sl-color-accent-high);
   }

   .top-level details:has(> summary:hover) li {
      border-inline-start: 1px solid var(--sl-color-accent-high);
   }

   .top-level li:has(> a[aria-current="false"]:hover) {
      background-color: color-mix(in srgb, var(--sl-color-hairline-light) 50%, transparent 100%);
   }
}

.starlight-aside {
   border-radius: 10px;
}

.tablist-wrapper a[role="tab"] {
   padding: 0 1.5rem 0 0;
}

.sl-markdown-content a:not(:where(.not-content *)) {
   font-weight: 600;
}

.sl-steps > li {
   padding-bottom: 1.5rem;
}

/* 
 * MERMAID
 */
.mermaid {
   background-color: transparent !important;
}

.labelBkg {
   border-radius: 15px;
   overflow: hidden;
}

.edgeLabel p {
   padding: 0 10px !important;
   border-radius: 15px;
   overflow: hidden;
   background-color: var(--my-color-mermaid-bg) !important;
}

/* 
* ZOOM 
*/
.starlight-image-zoom-dialog img {
   z-index: 1;
   max-height: 90%;
}
