---
import { colorsData } from "@src/data/colors-data";
import { ColorUtils } from "../utils/color-utils";
import CodeVar from "./CodeVar.astro";
---

<div>
   <table>
      <thead>
         <tr>
            <th>CORES</th>
            <th>RESULTADOS</th>
         </tr>
      </thead>
      <tbody>
         {
            colorsData.map((color) => (
               <tr>
                  <td>
                     <CodeVar>{color.name}</CodeVar>
                  </td>
                  <td>
                     <p
                        class="result"
                        style={`color: ${ColorUtils.hexToBlackOrWhite(ColorUtils.invertHexColor(color.value))}; background-color: ${color.value}`}
                     >
                        {color.value}
                     </p>
                  </td>
               </tr>
            ))
         }
      </tbody>
   </table>
</div>

<style>
   .result {
      border-radius: 5px;
      padding: 0 0.8rem;
      width: 150px;
      text-align: center;
   }
</style>
