---

---

<div><slot /></div>

<!-- Estilos -->
<style>
   div {
      background-color: color-mix(in srgb, var(--my-color-function-description) 50%, transparent 100%);
      padding: 10px;
      border-radius: 5px;
      border: 1px solid var(--my-color-function-description);
   }
</style>
