---

---

<div class="example-container">
  <div class="example-item">
    <slot />
  </div>
</div>

<style>
  .example-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .example-item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
  }
</style>
