---

---

<div>
  <h4>Possíveis retornos:</h4>
  <ul>
    <slot />
  </ul>
</div>

<!-- Estilos -->
<style>
  div {
    margin-top: 2em;
    border-radius: 10px;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.5em;
    margin-block-end: 0;
    padding-inline-start: 0;
  }
</style>
