---
const { successMsg, errorMsg } = Astro.props;
---

<div class="return-container">
  <div class="return-item">
    <p class="title success">Em caso de sucesso:</p>
    <p class="value">
      {successMsg}
    </p>
  </div>
  <div class="return-item">
    <p class="title error">Em caso de erro:</p>
    <p class="value">
      {errorMsg}
    </p>
  </div>
</div>

<style>
  .return-container {
    /* margin-left: 1em; */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .return-item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--sl-color-function-description);
  }

  .return-item .value {
    background-color: color-mix(
      in srgb,
      var(--sl-color-function-description) 100%,
      transparent 80%
    );
    padding: 10px;
  }

  .title {
    background-color: var(--sl-color-function-description);
    padding: 2px 5px 2px 10px;
    width: 100%;
  }

  div {
    margin-top: 0;
    width: auto !important;
    max-width: auto;
    min-width: auto !important;
  }

  p {
    margin: 0;
  }

  .value {
    color: var(--sl-color-function-return);
  }

  .error,
  .success {
    display: flex;
    text-align: center;
  }

  .error {
    font-weight: bold;
  }

  .success {
    font-weight: bold;
  }
</style>
