---

---

<div>
  <h5>Parâmetros:</h5>
  <ul>
    <slot />
  </ul>
</div>

<!-- Estilos -->
<style>
  div {
    margin-top: 2em;
    background-color: color-mix(
      in srgb,
      var(--sl-color-function-description) 80%,
      transparent 100%
    );
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--sl-color-function-description);
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.5em;
    margin-block-end: 0;
    padding-inline-start: 0;
  }
</style>
