---
import type { FunctionModel } from "@interfaces/functions-interface";

const { fn } = Astro.props;
---

<div class="modal" data-context={fn}>
  <slot />
</div>

<!-- Estilos -->
<style></style>

<script>
  import { FunctionModalModel } from "@src/models/function-modal-model";
  import { ModalUtils } from "@utils/modal-utils";

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".modal").forEach((el) => {
      el.addEventListener("click", () => {
        if (el instanceof HTMLElement && el.dataset.context) {
          const modelContent = FunctionModalModel(el.dataset.context);
          if (!modelContent) return;
          ModalUtils.open(modelContent);
        }
      });
    });
  });
</script>
