---

---

<div class="container">
   <table class="table">
      <tbody>
         <slot />
      </tbody>
   </table>
</div>

<style>
   div {
      margin: 0;
   }

   .table {
      border-radius: 0.3125rem;
      padding: 5px 0;
   }
</style>
