---
const { title } = Astro.props;
---

<div class="container">
   {
      title && (
         <div class="header">
            <h6>{title}</h6>
         </div>
      )
   }
   <div class="content">
      <slot />
   </div>
</div>

<!-- Estilos -->
<style>
   .container {
      background-color: var(--my-color-spoiler-bg);
      padding: 0;
      /* border-radius: 5px; */
      border: 1px solid var(--my-color-spoiler-border);
      border-radius: 5px;
      overflow: hidden;
   }
   .header {
      padding: 0.7rem;
      border-bottom: 1px solid var(--my-color-spoiler-border);
   }
   .content {
      /* background-color: aqua; */
      margin: 0;
      padding: 0.7rem;
   }
</style>
