---
const { title = "Spoiler", open = false } = Astro.props;
---

<div class="container">
   <details
      class="spoiler"
      open={open}
   >
      <summary class="spoiler-title">{title}</summary>
      <div class="spoiler-content">
         <slot />
      </div>
   </details>
</div>

<!-- Estilos -->
<style>
   .container {
      background-color: var(--my-color-spoiler-bg);
      padding: 0;
      border-radius: 5px;
      border: 1px solid var(--my-color-spoiler-border);
      overflow: hidden;
   }
   .spoiler {
      border: none;
      /* padding: 0 5px; */
      padding: 0;
   }

   .spoiler-title {
      margin: 0;
      user-select: none;
      padding: 10px;
      background-color: var(--my-color-spoiler-bg-header);
   }

   .spoiler[open] .spoiler-title:hover,
   .spoiler-title:hover {
      background-color: var(--my-color-spoiler-bg-header-hover);
   }

   .spoiler[open] .spoiler-title {
      margin: 0;
      color: var(--sl-color-accent-high);
      background-color: var(--my-color-spoiler-bg-header);
   }

   .spoiler-content {
      padding: 10px;
      margin: 0;
      border-top: 1px solid var(--my-color-spoiler-border);
   }
</style>
