---
import CodeVar from "@components/CodeVar.astro";
import { VARIABLE_MAPPING } from "@src/data/variables-data";

const { category } = Astro.props;

const elements =
   VARIABLE_MAPPING.get(category) &&
   Array.from(VARIABLE_MAPPING.get(category)!.values());

const containsAliases =
   elements &&
   elements.find((fn) => {
      return fn.aliases;
   });
---

{
   elements && (
      <table>
         <thead>
            <tr>
               <th>VARIÁVEIS</th>
               {containsAliases && <th class="aliases">ALIASES</th>}
               <th>RETORNOS</th>
            </tr>
         </thead>
         <tbody>
            {elements.map((fn) => (
               <tr>
                  <td>
                     <div class="name-container">
                        {fn.aliases && (
                           <div class="aliases-mobile">
                              <CodeVar>{fn.aliases}</CodeVar>
                           </div>
                        )}
                        <CodeVar>{fn.name}</CodeVar>
                     </div>
                  </td>
                  {containsAliases && (
                     <td class="aliases">
                        {fn.aliases && <CodeVar>{fn.aliases}</CodeVar>}
                     </td>
                  )}
                  <td>
                     <p>{fn.description.simple}</p>
                  </td>
               </tr>
            ))}
         </tbody>
      </table>
   )
}

<!-- Estilos -->
<style>
   td {
      height: 3rem;
      vertical-align: middle;
   }
   p {
      margin: 0;
      padding: 0;
   }

   .aliases-mobile {
      display: none;
   }
   @media (max-width: 950px) {
      .aliases {
         display: none;
      }
      .aliases-mobile {
         display: block;
      }
   }
</style>
