.code {
   width: 100%;
}

.code::-webkit-scrollbar {
   height: 6px;
}

.code::-webkit-scrollbar-track {
   background: var(--sl-color-gray-6);
   border-radius: 3px;
}

.code::-webkit-scrollbar-thumb {
   background-color: var(--sl-color-gray-4);
   border-radius: 3px;
}

.code::-webkit-scrollbar-button {
   display: none;
}
