.container {
   display: flex;
   flex-direction: column;
   width: 100%;
   border-radius: 8px;
   background-color: var(--sl-color-modal-bg);
   border: 1px solid var(--sl-color-modal-border);
   gap: 2em;
   overflow: hidden;
}

.header {
   display: flex;
   flex-direction: column;
   gap: 0.5em;
   border-bottom: 1px solid var(--sl-color-modal-header-shadow);
   padding: 10px 20px 0 20px;
   background-color: var(--sl-color-modal-header);
}

.headerTop {
   display: flex;
   justify-content: space-between;
}

.headerTitle {
   display: flex;
   align-items: center;
   width: 100%;
}

.headerButtons {
   display: flex;
   align-items: center;
}

.description {
   user-select: none;
   cursor: pointer;
}

.close {
   color: var(--sl-color-gray-2);
   cursor: pointer;
   width: 32px;
   height: 32px;
}

.close:hover {
   color: var(--sl-color-accent-high);
}

.content {
   display: flex;
   flex-direction: column;
   gap: 2em;
   padding: 0 20px 20px 20px;
}

.descriptionContainer {
   display: flex;
   align-items: center;
   border-radius: 5px;
   padding-bottom: 1rem;
}

.titleContent {
   display: flex;
   flex-direction: column;
   gap: 0.25em;
}

.examplesTypes {
   display: flex;
   flex-direction: column;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid var(--sl-color-function-description);
   background-color: color-mix(
      in srgb,
      var(--sl-color-function-description) 50%,
      transparent 100%
   );
}

.examplesTypes ol {
   list-style-position: inside;
   padding: 0;
}

.examplesTypes ol li::marker {
   /* color: var(--sl-color-function-type); */
   font-weight: bold;
}

.returnsTypes {
   display: flex;
   flex-direction: column;
   gap: 0.5em;
}

.footer {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 20px 20px 20px 20px;
   border-top: 1px solid var(--sl-color-modal-header-shadow);
   background-color: var(--sl-color-modal-header);
   gap: 0.8rem;
}

.redirectBtn {
   color: var(--sl-color-gray-1);
   background-color: var(--sl-color-gray-5);
   cursor: pointer;
   padding: 2px 15px 2px 15px;
   border-radius: 5px;
   text-decoration: none;
   font-weight: 500;
}

.redirectBtn:hover {
   color: #ffffff;
   background-color: var(--sl-color-accent-high);
}

@media (max-width: 800px) {
   .paramsTypes {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
   }
}
