/* Modal */
.container {
   position: fixed;
   inset: 0;
   z-index: 50;
}

.background {
   background-color: rgba(0, 0, 0, 0.4);
   /* background-color: rgba(250, 24, 24, 0.4); */
   overflow: auto;
   width: 100%;
   height: 100vh;
   will-change: transform;
}

.padding {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px;
   pointer-events: all;
   width: 100%;
   /* height: fit-content; */
   min-height: 100vh;
}

.content {
   width: 960px;
   height: fit-content;
   z-index: 51;
   pointer-events: all;
}

@media (max-width: 950px) {
   .content {
      width: 100%;
   }
}
